@model CreateCVOnline.Models.ChangePasswordModel
@using CreateCVOnline.Models;
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutCreateCVOnline.cshtml";
    var user = Session["Account"] as LoginModel;
}
@if (user != null)
{
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    using(Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <br />
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model=>model.Username,new {@value=user.Username })
                    <label>Current Password</label>
                    <div class="form-group pass_show">
                        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password" })
                    </div>
                    <label>New Password</label>
                    <div class="form-group pass_show">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <label>Confirm Password</label>
                    <div class="form-group pass_show">
                        @Html.PasswordFor(model => model.RepeatPassword, new { @class = "form-control", @placeholder = "Repeate Password" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    }

}

